<nav class="navbar navbar-light bg-dark">
    <a class="navbar-branch" href="/">
        <img src="/img/logo.jpg" alt="+8000" height="70">
        <span style="margin-left: 10px; color: white; font-weight: bold;">
            É + de 8000 perguntas
        </span>
    </a>
</nav>