<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>

            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label for="title">Título</label>
                    <input name="titulo" class="form-control" type="text" id="title" placeholder="Título">
        
                    <br>
                    <label for="description">Descrição</label>
                    <textarea name="descricao" class="form-control" name="" id="description" placeholder="Descreva sua pergunta aqui" cols="20" rows="10"></textarea>
        
                    <br>
                    <button type="submit" class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include ('partials/footer.ejs') %>